extensions/db/src/test/resources/integration/select/select-template-with-typed-parameter-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:dbn="http://www.mulesoft.org/schema/mule/dbn"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/dbn http://www.mulesoft.org/schema/mule/dbn/current/mule-dbn.xsd">

    <dbn:parameterized-query name="selectQuery" sql="select * from Planet where name = :name">
        <dbn:parameters>
            <dbn:in-param paramName="name" value="#[payload]" type="VARCHAR"/>
        </dbn:parameters>
    </dbn:parameterized-query>

    <flow name="selectParameterizedQuery">
        <dbn:select config-ref="dbConfig" query="selectQuery" />
    </flow>

</mule>
